.Header {
	/* layout settings */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;

	width: 100vw;
	height: fit-content;
	
	/* font settings */
	
	/* design */
	/* background-color: rgba(var(--primary-color), 1); */
	    
	/* animation */
	
	/* extra */
}