.InfoCard {
    /* layout settings */
	display: grid;
	grid-template-rows: 150px 1.5fr 3fr 1fr;
	overflow: hidden;
	
	/* font settings */
	
	/* design */
	    
	/* animation */
	
	/* extra */
}

.Image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}