:root {
	/* pastel theme */
	/*
	--header-color: 194, 222, 209;
	--background-color: 236, 229, 199;
	--background-dark-color: 205, 194, 174;
	--text-color: 53, 66, 89; 
	
	--text-color1: 255, 116, 115;
    --text-color2: 255, 201, 82;
	*/
	
	/* gradient enless river theme */
	/* --header-color: 255, 255, 255;
	--background-gradient-color1: 67, 206, 162;
	--background-gradient-color2: 24, 90, 157;
	
    --text-color: 255, 255, 255;  */

	/* night beige */
	--primary-color: 54, 48, 98;
	--primary-light-color: 233, 213, 202;
	--secondary-color: 77, 76, 125;
	--secondary-color2: 130, 115, 151;
	--font-dark-color: #2A2D33;
}