@font-face {
    font-family: "BMDOHYEON";
    src: url("./fonts/BMDOHYEON_ttf.ttf");
}

@font-face {
    font-family: "BMJUA";
    src: url("./fonts/BMJUA_ttf.ttf");
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}