.Card {
    /* layout settings */
	display: grid;
	
	width: 40%;
	max-width: 250px;
	min-height: 350px;

	margin: 20px;
	
	/* font settings */
	
	/* design */
	background-color: white;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0.5px 0 5px rgba(0, 0, 0, 0.1);
	
	border: 0.5px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	    
	/* animation */
	transition: box-shadow 0.2s ease;
	
	/* extra */
}

.Card:hover {
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0.5px 0 5px rgba(0, 0, 0, 0.1);
}